/* -----login pages---- */

.login-div{
    position: absolute;
    max-width: 401px;
    width: 401px;
    height: 480px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.loginbox{
    position: absolute;
    max-width: 373px;
    width: 373px;
    height: 359px;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0px;
    background: rgba(255, 229, 223, 0.2);
    border: 1px solid #B8AEAE;
    box-sizing: border-box;
    border-radius: 11px;
    padding-top: 75px;
}
.log-img{
    position: absolute;
    left: 0px;
    top: 0px;
}
p#title{
    position: absolute;
    left: 25px;
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
p#subtitle{
    position: absolute;
    margin-top: 75px;
    left: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #A4A716;
}
.input-div{
    position: absolute;
    width: 250px;
    height: 100px;
    transform: translate(-50%, 0);
    left: 50%;
}
.input-div input{ 
    position: absolute;
    width: 204px;
    height: 30px;
    right: 8px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 20px;
    border: 1px solid #000000;
}
.input-div input[type="password"]{
    top: 50px;
}
form img#user{
    position: absolute;
    width: 30px;
    height: 28px;
    left: 8px;
}
form img#pass{
    position: absolute;
    width: 18px;
    height: 22px;
    left: 14px;
    top: 50px;
}
input::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #636161;
}
input:focus{
    outline: none;
}
.login-btn{
    position: absolute;
    width: 173px;
    height: 33px;
    transform: translate(-50%, 0);
    left: 50%;
    margin-top: 120px;
    background: #414ABB;
    border-radius: 6px;
    border: 1px solid #414ABB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.login-btn:hover{
    cursor: pointer;
}
#forgot{
    position: absolute;
    top: 260px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
}
#forgot span{
    font-style: italic;
}
#signup{ 
    position: absolute;
    top: 300px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}
#forgot a:visited, #signup a:visited{
    color: #0909FC;
}
#signup a:hover{
    color: rgb(255, 115, 0);
}
.login-errbox{
    position: absolute;
    width: 502px;
    height: 179px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 1px solid #eee8e8;
    border-radius: 30px;
    background: rgba(255, 229, 223, 0.2);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);
}
#error{
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #A73232;
}
#error span{
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: black;
}
#try-again{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(4, 4, 151, 0.8);
}
.try-again{
    text-align: center;
}
#try-again a:visited{
    color: #0909FC;
}

/* ---------index-------- */
.indexpg{
    background: url(moneybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.index-div{
    max-width: 1600px;
    margin: auto;
    height: 100%;
}
.upper-div{
    max-width: 1442px;
    height: 455px;
    margin: auto;
}
.app-info{
    position: absolute;
    width: 701px;
    height: 455px;
    background: rgba(250, 242, 242, 0.9);
    border-radius: 50px 70px 70px 70px;
}
.money-logo{
    width: 721px;
    height: 455px;
    right: 0px;
    border-radius: 0px 20px 70px 0px;
    float: right;
}
 .money-logo img{
    width: 100%;
    height: 100%;
}
p#org-name{
    position: absolute;    
    left: 27px;
    top: 36px;
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #A4A716;
}
.title{
    position: absolute;
    left: 87px;
    top: 110px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #30BB3D;
}
.app-option{
    position: absolute;
    left: 105px;
    top: 212px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    }
.about{
    position: absolute;
    left: 105px;
    top: 292px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0000FF;
}
.logReg-box{
    max-width: 1442px;
    height: 428px;
    margin: auto;
    background: #729A4A;
    border-radius: 90px;
}
#logReg-box{
    position: absolute;
    width: 1442px;
    height: 428px;
    background: #729A4A;
    border-radius: 0 90px 10px 70px;
}
#start{
    position: absolute;
    left: 584px;
    top: 20px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}
#direct{
    position: absolute;
    width: 960px;
    height: 57px;
    left: 237px;
    top: 108px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.direct-reg{
    position: absolute;
    width: 314px;
    height: 37px;
    left: 237px;
    top: 255px;
    background: #FFFFFF;
}
.direct-log{
    position: absolute;
    width: 278px;
    height: 37px;
    left: 919px;
    top: 255px;
    background: #FFFFFF;
}
.direct-reg a{
    position: absolute;
    left: 20px;
    top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
}
.direct-log a{
    position: absolute;
    left: 35px;
    top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
}
.direct-reg a:visited, .direct-log a:visited{
    color: #0000FF;
}


/* ----------Register page----------- */
.registerpage{
    max-width: 1200px;
    position: relative;
    top: -9px;
    height: 820px;
    margin: auto;
    border: 1px solid #C4C4C4;
    background: #f0f2fc;
}
.createAcc{
    position: absolute;
    width: 884px;
    height: 53px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 68px;
    background: rgba(168, 167, 167, 0.4);
}
.fill-detDiv{
    position: absolute;
    width: 884px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 122px;
}
#fill-det{
    position: absolute;
    left: -0px;
    top: -10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #A4A716;
}
.createAcc p{
    margin-left: 18px;
    margin-top: 5px;
    padding-top: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    background: rgb(255, 186, 218);
    width: 285px;
    height: 36px;
    border-radius: 10px;
    text-align: center;
}
#acc-sign{
    position: absolute;
    width: 58px;
    height: 22px;
    right: 18px;
    bottom: 12px;
    background: #FFFFFF;
    text-align: center;
    padding-top: 4px;
}
#acc-sign a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #0202fd;
}
#acc-sign a:visited{
    color: #0202fd; 
}
#acc-sign a:hover{
    color: rgb(255, 115, 0);
}
.regform{
    position: absolute;
    width: 782px;
    height: 314px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 226px;
    background: rgba(81, 205, 108, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}
.log-det{
    position: absolute;
    left: 304px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}
#login-det label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #040497;
}
#user-lab{
    position: absolute;
    left: 131px;
    top: 91px;
    margin-bottom: 38px;
}
#pass-lab{
    position: absolute;
    left: 131px;
    top: 149px;
    margin-bottom: 38px;
}
#confirm-lab{
    position: absolute;
    left: 131px;
    top: 203px;
}
#login-det input{
    width: 255px;
    height: 28px;
    background: #FFFDFD;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}
#login-det input[type="text"]{
    position: absolute;
    left: 304px;
    top: 81px;
}
#paswd{
    position: absolute;
    left: 304px;
    top: 139px;
}
#conf-paswd{
    position: absolute;
    left: 304px;
    top: 193px;
}
.btn{
    width: 80px;
    height: 30px;
    background: rgba(0, 0, 255, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 255, 0.5);
}
.acc-readyDiv{
    position: absolute;
    width: 884px;
    height: 50px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 550px;
}
#acc-ready{
    position: absolute;
    left: 10px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
#sign-check{
    position: absolute;
    left: 10px;
    top: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-decoration-line: underline;
    color: #0000FF;
}
#follow-us{
    position: absolute;
    right: 55px;
    top: 140px;
    font-size: 11px;
    font-family: Montserrat;
    background-color: white;
    width: 150px;
    padding-left: 12px;
}
#follow-us a:hover{
    color: rgb(255, 115, 0);
}
#account-det{
    position: absolute;
    width: 100%;
    visibility: hidden;
}
#account-det label{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #040497;
}
#account-det input{
    position: absolute;
    width: 255px;
    height: 28px;
    background: #FFFDFD;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 70px;
    margin-left: 0px;
}
#fname, #id-no, #pin-no{
    position: absolute;
    left: 98px;
}
#lname, #phone-no, #conf-pin{
    position: absolute;
    left: 437px;
}
#fName, #id-No, #pin-No{
    position: absolute;
    left: 98px;
}
#lName, #phone-No, #conf-Pin{
    position: absolute;
    left: 437px;
}
.acc-det{
    position: absolute;
    left: 309px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}
#fname, #lname{
    position: absolute;
    top: 80px;
}
#fName, #lName{
    position: absolute;
    top: 25px;
}
#id-no, #phone-no{
    position: absolute;
    top: 135px;
}
#id-No, #phone-No{
    position: absolute;
    top: 80px;
}
#id-no, #phone-no{
    position: absolute;
    top: 140px;
}
#id-No, #phone-No{
    position: absolute;
    top: 84px;
}
#pin-no, #conf-pin{
    position: absolute;
    top: 199px;
}
#pin-No, #conf-Pin{
    position: absolute;
    top: 143px;
}
.backNext-div{
    position: absolute;
    width: 782px;
    height: 36px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 525px;
    box-sizing: border-box;
    padding-right: 10px;
}
.next{
    position: absolute;
    right: 10px;
    top: -20px;
}
.back{
    position: absolute;
    left: 10px;
    top: -20px;
    visibility: hidden;
}
#btn-create{
    position: absolute;
    width: 225px;
    height: 39px;
    left: 550px;
    top: 370px;
    background: rgba(0, 0, 255, 0.7);
    border-radius: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: #0000FF;
    cursor: pointer;
}
#input-error{
    position: absolute;
    left: 304px;
    top: 220px;
    color: red;
    font-family: montserrat;
    font-weight: 700;
    font-size: 13px;
}
#check1{
    position: absolute;
    left: 304px;
    top: 100px;
    color: red;
    font-family: montserrat;
    font-weight: 600;
    font-size: 11px;
}
#check2{
    position: absolute;
    left: 170px;
    top: 170px;
    color: red;
    font-family: montserrat;
    font-weight: 600;
    font-size: 11px;
}
#pin-error{
    position: absolute;
    left: 438px;
    top: 230px;
    color: red;
    font-family: montserrat;
    font-weight: 700;
    font-size: 13px;
}
ul{
    position: absolute;
}
#nav2{
    left: 150px;
    list-style-type: none;
}

/* ---------register output------- */

.success-div{
    position: relative;
    width: 1063px;
    height: 53px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 60px;
    background: rgba(196, 196, 196, 0.4);
}
.success-div p{
    position: absolute;
    bottom: -16px;
    left: 18px;
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    color: #C0C421;
}
#error-msg{
    color: #C42020;
}
.success-div1{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 275px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.success-div2{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 340px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #000000;
}
.success-div3{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 380px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    color: blue;
}
.success-div3 a:visited{
    color: blue;
}
.success-div3 a:hover{
    color: rgb(255, 115, 0)
}
.success-div4{
    position: absolute;
    width: 1063px;
    height: 34px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 680px;
    background: rgba(196, 196, 196, 0.4);
    text-align: center;
}
.success-div4 p{
    font-family: montserrat;
    font-style: normal;
    font-size: 12px;
    margin-top: 10px;
}
.homeDiv{
    position: absolute;
    max-width: 1200px;
    width: 1200px;
    height: 663px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: #f0f2fc;
}
.home-img{
    position: absolute;
    width: 1200px;
    height: 108px;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
}
.home-img img{
    width: 100%;
    height: 100%;
}
.home-links{
    position: absolute;
    height: 300px;
    max-width: 1095px;
    width: 1090px;
    left: 0px;
    right: 0px;
    top: 160px;
    margin: auto;
    padding-top: 100px;
    list-style-type: none;
}
.home-links li{
    margin-bottom: 33px;
    position: relative;
}
.home-links li img{
    width: 34px;
    height: 28px;
    margin-bottom: -7px;
}
.home-links li a{
    margin-bottom: 30px;
    font-family: Montserrat;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
#pagelink{
    position: absolute;
    text-decoration: none;
}
.homepage{
    width: 900px;
    height: 300px;
    float: right;
    margin-right: 3px;
    margin-top: -5px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background: #FFFFFF;
}
.p1{
    margin-left: 330px;
    margin-top: -82px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    color: rgba(4, 4, 151, 0.8);
}
.account-info{
    position: absolute;
    width: 322px;
    height: 124px;
    top: 210px;
    left: 265px;
    background: rgba(75, 75, 255, 0.1);
    border: 1px solid rgba(4, 4, 151, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
}
.user-info{
    position: absolute;
    width: 322px;
    height: 124px;
    top: 210px;
    right: 77px;
    background: rgba(75, 75, 255, 0.1);
    border: 1px solid rgba(4, 4, 151, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
}
#p1{
    position: absolute;
    width: 211px;
    height: 19px;
    left: 200px;
    top: 100px;
    font-family: Roboto;
    font-size: 18px;
}
.p2{
    position: absolute;
    left: 410px;
    top: 140px;
    font-family: Montserrat;
    font-size: 15px;   
}
.p3{
    position: absolute;
    left: 70px;
    top: 0px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-decoration-line: underline;
    color: rgba(4, 4, 151, 0.8);
}
.p4{
    position: absolute;
    left: 70px;
    top: 30px;
    font-family: Roboto;
    font-size: 14px;
}
.p4 span{
    position: absolute;
    left: -40px;
}
.account-info img{
    position: absolute;
    width: 50px;
    height: 51px;
    left: 15px;
    top: 10px;
}
.p5{
    position: absolute;
    left: 70px;
    top: 0px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-decoration-line: underline;
    color: rgba(4, 4, 151, 0.8);
}
.p6{
    position: absolute;
    left: 70px;
    top: 30px;
    font-family: Roboto;
    font-size: 14px;
}
.p6 span{
    position: absolute;
    left: -40px;
}
.user-info img{
    position: absolute;
    width: 40px;
    height: 40px; 
    left: 20px;
    top: 15px;
}
.footer{
    position: absolute;
    width: 1200px;
    height: 2px;
    top: 690px;
    border-bottom: 5px;
}
.footer p{
    position: absolute;
    font-family: Montserrat;
    font-size: small;
    left: 300px;
    bottom: -15px;
}
.footer hr{
    margin-top: -20px;
}
.footer a:hover{
    color: rgb(255, 115, 0);
}

/* ---------account page----------- */
.btns{
    position: relative;
    width: 125px;
}
.checkbal{
    left: 80px;
    top: 47px;
}
.checkbal button{
    background: rgba(81, 205, 108, 0.8);
    border: 1px solid #51CD6C;
    color: rgba(246, 18, 18, 0.5);
    border-radius: 11px;
}
.checkbal button:hover{
    background-color: #51CD6C;
    color: #F61212;
    cursor: pointer;
}
.checkbal p{
    font-family: Roboto;
    font-size: 13px;
    margin-left: 8px;
}
.deposit{
    left: 390px;
    top: -98px;
}
.deposit button{
    background: rgba(81, 146, 205, 0.8);
    border: 1px solid #5192CD;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 11px;
}
.deposit button:hover{
    background-color: #5192CD;
    color: #FFFFFF;
    cursor: pointer;
}
.deposit p{
    font-family: Roboto;
    font-size: 13px;
    margin-left: 15px;
}
.withdraw{
    left: 710px;
    top: -243px;
}
.withdraw button{
    background: rgba(233, 237, 28, 0.7);
    border: 1px solid #E9ED1C;
    color: rgba(0, 0, 255, 0.5);
    border-radius: 11px;
}
.withdraw button:hover{
    background-color: #E9ED1C;
    color: #0000FF;
    cursor: pointer;
}
.withdraw p{
    font-family: Roboto;
    font-size: 13px;
    margin-left: 8px;
}
.btns button{
    position: relative;
    width: 120px;
    height: 100px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 33px;
}
.icon-select{
    position: relative;
    width: 302px;
    height: 20px;
    left: 294px;
    top: -5px;
    background: #426130;
    border-radius: 15px;
}
.icon-select p{
    position: relative;
    top: 1px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
.accBtn button{
    position: relative;
    width: 450px;
    height: 28px;
    left: 0px;
    top: -18px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#statebtn{
    margin-left: -4px;
    background: #C4C4C4;
}
#transactionbtn{
    background: #FFFFFF;
}
.accSave{
    position: absolute;
    top: 90px;
    left: 170px;
}
#theBtns{
    height: 240px;
}
.formpage{
    width: 900px;
    height: 325px;
    float: right;
    margin-right: 3px;
    margin-top: -15px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}
.checkbal-form{
    position: relative;
    width: 449px;
    height: 248px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 30px;
    background: rgba(224, 221, 221, 0.5);
    border: 1px solid #CBC8C8;
}
.checkbal-form input{
    width: 386px;
    height: 23px;
    margin-left: 30px; 
    border: 1px solid #000000;
}
.checkbal-form label{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}
.checkbal-form p{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    color: #038310;
    margin-top: 5px;
    margin-left: 160px;
    margin-bottom: 30px;
}
.checkbal-form button{
    width: 95px;
    height: 27px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
}
.okbtn{
    position: absolute;
    left: 30px;
    bottom: 20px;
    background: #92CC7E;
    border: #92CC7E;
}
.okbtn:hover{
    background: #45842F;
}
.cancelbtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #F39F9F;
    border: #F39F9F;
}
.cancelbtn:hover{
    background: #BB3333;
}
#deposit-topic{
    margin-bottom: 2px;  
    margin-top: 0px; 
    color: #45789D; 
}
.the-form{
    top: 10px;
    height: 298px;
}
.the-ok{
    top: 268px;
}
.the-cancel{
    top: 268px;
}
#withdraw-topic{
    margin-bottom: 2px;  
    margin-top: 0px; 
    color: #A89806; 
}
.formpage input{
    padding-left: 10px;
}
.formpage input::placeholder{
    font-size: 10px;
}
.user_bal_msg{
    position: relative;
    width: 700px;
    height: 55px;
    background: #CAFFD5;
    left: 100px;
    top: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.user_bal_msg p{
    position: absolute;
    width: 550px;
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 0px;
    left: 75px;
    top: 8px;
}
.user_bal_msg span{
    font-weight: 600;
}
.checkpinerr{
    height: 40px;
    color: rgb(204, 6, 45);
}
.depo{
    height: 78px;
}
.closediv{
    position: absolute;
    width: 47px;
    height: 26px;
    right: 5px;
    top: 110px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
.closediv:hover{
    background: #CB2B2B;
    color: #FFFFFF;
}
.editname-field input{
    position: relative;
    width: 354px;
    height: 21px;
    background: #FFFBFB;
    border: 1px solid #B19898;
    font-family: Montserrat;
    font-size: 13px;
    color: black;
    display: block;
    margin-bottom: 11px;
    left: 200px;
    top: -155px;
}
.userpage{
    height: 350px;
    border-radius: 0px 0px 5px 5px;
}
.userdata label{
    position: relative;
    top: 30px;
    left: 94px;
    display: block;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 20px;
}
.topuser-div{
    position: relative;
    width: 900px;
    height: 22px;
    left: -1px;
    top: 0px;
    background: #E8E5E5;
    border: 1px solid #BDB8B8;
    border-radius: 5px 5px 0px 0px;
}
.topuser-div p{
    position: absolute;
    top: -10px;
    left: 2px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    color: #46B151;
}
.photodiv{
    position: absolute;
    width: 118px;
    height: 105px;
    right: 30px;
    top: 115px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
}
.photodiv img{
    border-radius: 2px;
}
.buttn{
    position: absolute;
    top: 300px;
    left: 672px;
    width: 72px;
    height: 23px;
    background: #426130;
    border: 1px solid #426130;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
}
.editpic-label{
    position: absolute;
    width: 117px;
    height: 17px;
    right: 30px;
    top: 230px;
    background: #426130;
    border: 1px solid #426130;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
}
.downuser-div{
    position: absolute;
    width: 900px;
    height: 22px;
    left: 185px;
    top: 330px;
    background: #E8E5E5;
    border: 1px solid #BDB8B8;
}
.downuser-div p{
    position: absolute;
    top: -10px;
    left: 2px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    color: #A73232;
}
.thelabel label{
    position: absolute;
    top: 375px;
    left: 279px;
    display: block;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 20px;
}
.thepaswd input{
    position: absolute;
    top: 370px;
    left: 385px;
    width: 226px;
    font-size: 16px;
    height: 21px;
    background: #FFFBFB;
    border: 1px solid #B19898;
    font-family: Montserrat;
    color: black;
    display: block;
    margin-bottom: 11px;
}
#pin-label{
    top: 408px;
}
#pin-theInput{
    top: 403px;
}


/* ---------media query---------- */

@media only screen and (max-width: 600px) {
    .loginbox{
        width: 300px;
    }
    p#title{
        font-size: 24px;
    }
    p#subtitle{
        font-size: 12px;
    }
    .login-div{
        width: 328px;
    }
    .log-img{
        height: 120px;
    }
    .login-errbox{
        width: 300px;
        height: 150px;
    }
    #error{
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 45px;
    }
    #error span{
        font-size: 11px;
    }
    #try-again{
        font-size: 11px;
    }
    /* .logReg-box{
        width: 390px;
        height: 90px;
    }
    #logReg-box{
        width: 390px;
        height: 90px;
    }
    .upper-div{
        width: 390px;
        height: 100px;
    } */
}