<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
</head>
<body>
    <div class="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <li style="margin-bottom: 25px;"><img src="{{ url_for('static', filename='images/home.png') }}" alt="home" style="width: 35px;height: 30px;">&nbsp;<a href="/home" id="firstlink">Home</a></li>
            <li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" alt="account_details" style="margin-left: -1px;">&nbsp;<a href="#" style="color: #FF12AE;">Account info</a></li>
            <li><img src="{{ url_for('static', filename='images/user_details.png') }}" alt="user_details" style="height: 45px;width: 33px;margin-bottom: -18px;">&nbsp;<a href="#">User details</a></li>
            <li><img src="{{ url_for('static', filename='images/reports.png') }}" alt="reports">&nbsp;<a href="#">Reports</a></li>
            <li><img src="{{ url_for('static', filename='images/logout.png') }}" alt="logout">&nbsp;<a href="#">Logout</a></li>
        </u>
        <p class="p1 accSave">Savings Account</p>
        <div class="homepage">
            <div class="accBtn">
                <button id="transactionbtn" onclick="showBtns()">Transactions</button>
                <button id="statebtn" onclick="showStatediv()">Account Statements</button>
            </div>
            <div id="theBtns">
                <div class="icon-select">
                    <p>Select an icon below to start</p>
                </div>
                <div class="btns checkbal">
                    <button onclick="hideShow()">B</button>
                    <p>CHECK BALANCE</p>
                </div>
                <div class="btns deposit">
                    <button onclick="hideShow2()">D</button>
                    <P>DEPOSIT CASH</P>
                </div>
                <div class="btns withdraw">
                    <button onclick="hideShow3()">W</button>
                    <p>WITHDRAW CASH</p>
                </div>
            </div>
            <div id="stateDiv" style="visibility: hidden;position: absolute;top: 150px;"><p>This place is for account statement</p></div>
        </div>
        <div class="formpage">
            <!-- <form action="/account/check_balance" id="form1" method="POST" style="visibility: hidden;">
                <input type="text" name="id_no">
                <input type="password" name="pin_no">
                <button type="submit">OK</button>
             </form> -->
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright 2021. <span>Beannsofts Limited. All rights reserved.</span></p>
        </div>
    </div>
    <script>
        var thebtns = document.getElementById('theBtns');
        var statediv = document.getElementById('stateDiv');
        var transbtn = document.getElementById('transactionbtn');
        var statebtn = document.getElementById('statebtn');
        function showBtns(){
            thebtns.style.visibility = "visible";
            statediv.style.visibility = "hidden";
            transbtn.style.background = "#FFFFFF";
            statebtn.style.background = "#C4C4C4";
        }
        function showStatediv(){
            statediv.style.visibility = "visible";
            thebtns.style.visibility = "hidden";
            statebtn.style.background = "#FFFFFF";
            transbtn.style.background = "#C4C4C4";
        }
    </script>
<!-- <script>
    var fm = document.getElementById("form1");
    function hide(){
        fm.style.visibility = "visible";
    }
</script> -->
</body>
</html>