<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>balance</h1>
    <div>
        {% if admin %}
        <span>Your float balance is {{admin.float_balance}}, and account balance is {{admin.account_balance}}</span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if errored_pin_msg %}
        <span>{{errored_pin_msg}}</span>
        {%endif%}
    </div>
    <div>
        {% if not_found %}
        <span>{{not_found}}</span>
        {%endif%}
    </div>
    <div>
        {% if check_msg %}
        <span>{{check_msg}}</span>
        {%endif%}
    </div>
    <h1>deposit</h1>
    <div>
        {% if updated_amount %}
        <span>{{updated_amount}} </span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if no_user_found %}
        <span>{{no_user_found}}</span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if no_float %}
        <span>{{no_float}}</span>
        {%endif%}
    </div>
    <div>
        {% if admin_pinerror %}
        <span>{{admin_pinerror}}</span>
        {%endif%}
    </div>
    <div>
        {% if no_admin_found %}
        <span>{{no_admin_found}}</span>
        {%endif%}
    </div>
</body>
</html>