<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
</head>
<body>
    <div class="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <li style="margin-bottom: 25px;"><img src="{{ url_for('static', filename='images/home.png') }}" alt="home" style="width: 35px;height: 30px;">&nbsp;<a href="#" id="firstlink" style="color: #FF12AE;;">Home</a></li>
            <li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" alt="account_details" style="margin-left: -1px;">&nbsp;<a href="/account">Account info</a></li>
            <li id="icon-swap"><img src="{{ url_for('static', filename='images/system_info.png') }}" alt="system_info" style="height: 38px;width: 33px;margin-bottom: -14px;margin-left: -3px;">&nbsp;<a href="#" id="swap-link">System info</a></li>
            <li><img src="{{ url_for('static', filename='images/reports.png') }}" alt="reports">&nbsp;<a href="#">Reports</a></li>
            <li><img src="{{ url_for('static', filename='images/logout.png') }}" alt="logout">&nbsp;<a href="#">Logout</a></li>
        </u>
        <p class="p1 accSave">Savings Account</p>
        <div class="homepage" id="homepage">
            <div class="accBtn">
                <button id="transactionbtn" onclick="showBtns()">Transactions</button>
                <button id="statebtn" onclick="showStatediv()">Account Statements</button>
            </div>
            <div id="theBtns">
                <div class="icon-select">
                    <p>Select an icon below to start</p>
                </div>
                <div class="btns checkbal">
                    <button onclick="hideShow1()">B</button>
                    <p>CHECK BALANCE</p>
                </div>
                <div class="btns deposit">
                    <button onclick="hideShow2()">D</button>
                    <P>DEPOSIT CASH</P>
                </div>
                <div class="btns withdraw">
                    <button onclick="hideShow3()">W</button>
                    <p>WITHDRAW CASH</p>
                </div>
            </div>
            <div id="stateDiv" style="visibility: hidden;position: absolute;top: 150px;"><p>This place is for account statement</p></div>
        </div>
        <div class="formpage" id="formpage" style="display: none;">
            <div class="checkbal-form" id="checkbal-form">
                <p>CHECK BALANCE</p>
                <form action="/admin/check_balance" id="form1" method="POST">
                    <label>Enter ID Number:</label><br>
                    <input type="text" name="id_no" required><br><br>
                    <label>Enter PIN:</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <button type="submit" class="okbtn">OK</button>
                </form>
                <button class="cancelbtn" onclick="showHome()">Cancel</button>
            </div>
            <div class="checkbal-form the-form" id="depositcash-form">
                <p id="deposit-topic">DEPOSIT CASH</p>
                <form action="#" id="form2" method="POST">
                    <label>Enter Agent ID:</label><br>
                    <input type="text" name="agent_id" required><br><br>
                    <label>Enter ID Number(user):</label><br>
                    <input type="text" name="user_id" required><br><br>
                    <label>Enter PIN(agent):</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <label>Enter Amount:</label><br>
                    <input type="number" name="amount" required><br><br>
                    <button type="submit" class="okbtn the-ok">OK</button>
                </form>
                <button class="cancelbtn the-cancel" onclick="showHome()">Cancel</button>
            </div>
            <div class="checkbal-form the-form" id="withdrawcash-form">
                <p id="withdraw-topic">WITHDRAW CASH</p>
                <form action="#" id="form3" method="POST">
                    <label>Enter Agent ID:</label><br>
                    <input type="text" name="agent_id" required><br><br>
                    <label>Enter ID Number:</label><br>
                    <input type="text" name="user_id" required><br><br>
                    <label>Enter PIN:</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <label>Enter Amount:</label><br>
                    <input type="number" name="amount" required><br><br>
                    <button type="submit" class="okbtn the-ok">OK</button>
                </form>
                <button class="cancelbtn the-cancel" onclick="showHome()">Cancel</button>
            </div>
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright 2021. <span>Beannsofts Limited. All rights reserved.</span></p>
        </div>
    </div>
    <script>
        var thebtns = document.getElementById('theBtns');
        var statediv = document.getElementById('stateDiv');
        var transbtn = document.getElementById('transactionbtn');
        var statebtn = document.getElementById('statebtn');
        function showBtns(){
            thebtns.style.visibility = "visible";
            statediv.style.visibility = "hidden";
            transbtn.style.background = "#FFFFFF";
            statebtn.style.background = "#C4C4C4";
        }
        function showStatediv(){
            statediv.style.visibility = "visible";
            thebtns.style.visibility = "hidden";
            statebtn.style.background = "#FFFFFF";
            transbtn.style.background = "#C4C4C4";
        }
    </script>
    <script>
        var form1 = document.getElementById("checkbal-form");
        var form2 = document.getElementById("depositcash-form");
        var form3 = document.getElementById("withdrawcash-form");
        var forms = document.getElementById("formpage");
        var homepg = document.getElementById("homepage");
        function hideShow1(){
            form1.style.display = "block";
            form2.style.display = "none";
            form3.style.display = "none";
            forms.style.display = "block";
            homepg.style.display = "none";
        }
        function hideShow2(){
            form1.style.display = "none";
            form2.style.display = "block";
            form3.style.display = "none";
            forms.style.display = "block";
            homepg.style.display = "none";
        }
        function hideShow3(){
            form1.style.display = "none";
            form2.style.display = "none";
            form3.style.display = "block";
            forms.style.display = "block";
            homepg.style.display = "none";
        }
        function showHome(){
            forms.style.display = "none";
            homepg.style.display = "block";
        }
    </script>
</body>
</html>