<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/admin" id="firstlink" style="margin-left: -1px;">Home</a></li>
            <li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="#" style="color: #FF12AE;">Account info</a></li>
            <li id="icon-swap"><img src="{{ url_for('static', filename='images/system_info.png') }}" style="height: 38px;width: 33px;margin-bottom: -14px;margin-left: -3px;">&nbsp;<a href="/admin/system_info" id="swap-link">System info</a></li>
            <li><img src="{{ url_for('static', filename='images/reports.png') }}">&nbsp;<a href="/admin/reports">Reports</a></li>
            <li><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <p class="p1 accSave">Savings account</p>
        <div class="homepage" id="homepage">
            <a href="/admin/account"><div class="closediv"><span>X</span></div></a>

                <!------- check balance -------->

                
                {% if admin %}
                <div class="user_bal_msg">
                    <p>Dear {{admin.firstname}}, Your Account balance was:  <span>Ksh {{'%0.2f'| format(admin.account_balance)}}</span>, Float balance was: <span>Ksh {{admin.float_balance}}</span> on <span>{{the_time}}</span>. Thank You.</p>
                </div>
                {%endif%}
                
                
                {% if errored_pin_msg %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{errored_pin_msg}}</p>
                </div>
                {%endif%}
                
                
                {% if not_found %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{not_found}}</p>
                </div>
                {%endif%}
                
                
                {% if check_msg %}
                <div class="user_bal_msg" style="color: rgb(204, 6, 45);">
                    <p>{{check_msg}}</p>
                </div>
                {%endif%}

                

                <!------------ deposit ------------>
                
                {% if the_user %}
                <div class="user_bal_msg depo">
                    <p>You have successfully deposited <span>Ksh {{amount}}.00 </span> on <span>{{time}} </span>to ID number: <span>{{theID}}</span> via Admin ID: <span>{{theAdmin}}</span>. Reference No. <span>{{refNo}}</span>. Thank You.</p>
                </div>
                {%endif%}

               
                {% if no_user_found %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{no_user_found}}</p>
                </div>
                {%endif%}
                

                {% if no_float %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{no_float}}</p>
                </div>
                {%endif%}

                
                {% if admin_pinerror %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{admin_pinerror}}</p>
                </div>
                {%endif%}
                
                
                {% if no_admin_found %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{no_admin_found}}</p>
                </div>
                {%endif%}



                <!--------------withdraw -------------->
            
                {% if that_user %}
                <div class="user_bal_msg depo">
                    <p>You have successfully withdrawn Ksh {{amount}}.00 on <span>{{time}} </span> via Agent ID: <span>{{theAdmin}}</span>. New Account balance is: <span>Ksh {{'%0.2f'| format(new_balance)}}</span>. Reference No. <span>{{refNo}}</span>. Rate of transaction cost is 0.03%.</p>
                </div>
                {%endif%}
                
                
                {% if user_id_error %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{user_id_error}}</p>
                </div>
                {%endif%}
                
                
                {% if withdraw_error_msg %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{withdraw_error_msg}}</p>
                </div>
                {%endif%}
                
                
                {% if pin_err %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{pin_err}}</p>
                </div>
                {%endif%}
                
                
                {% if agentID_err %}
                <div class="user_bal_msg checkpinerr">
                    <p>{{agentID_err}}</p>
                </div>
                {%endif%}
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>
</body>
</html>