<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-System Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/admin" id="firstlink" style="margin-left: -1px;">Home</a></li>
            <li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="/admin/account">Account info</a></li>
            <li id="icon-swap"><img src="{{ url_for('static', filename='images/system_info.png') }}" style="height: 38px;width: 33px;margin-bottom: -14px;margin-left: -3px;">&nbsp;<a href="#" id="swap-link"  style="color: #FF12AE;">System info</a></li>
            <li><img src="{{ url_for('static', filename='images/reports.png') }}">&nbsp;<a href="#">Reports</a></li>
            <li><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <div class="homepage userpage" style="height: 370px;">
            <p class="p1">System information</p>
            <p class="members-title">Agents</p>
            <label class="search-label">Search</label><div class="search-user"><input type="search" id="search-input" id="id-No" oninput="hideSearchError()"><img src="{{ url_for('static', filename='images/search.png') }}" onclick="searchUser()" id="search-icon"></div>
            <table id="t-one">
                <tr id="row-1">
                    <td>USER ID</td>
                    <td>USERNAME</td>
                    <td>F_NAME</td>
                    <td>L_NAME</td>
                    <td>ACC_BAL</td>
                    <td>FLOAT_BAL</td>
                    <td>PHONE NO</td>
                </tr>
            </table>
            <div class="user-all">
                <table id="t-two">
                    {% for user in users %}
                    <tr id="user-row">
                        <td><button onclick="manageUser()" id="get-user" title="double click to manage user's account">{{user.id}}</button></td>
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.account_balance}}</td>  
                        <td><button onclick="getIndex()" id="get-user" title="double click to update float">{{user.float_balance}}</button></td>  
                        <td>{{user.phone}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <form action="/admin/manageUser" method="POST" style="display: none;">
                    <input type="number" id="manage-input" name="id">
                    <button type="submit" id="managebtn">submit</button>
                </form>
                <form action="/admin/updateFloat" method="POST" style="display: none;">
                    <input type="number" id="float-input" name="id">
                    <button type="submit" id="floatbtn">submit</button>
                </form>
            </div>
            <div class="backto-div" style="bottom: -65px;" onclick="clickBack()"><a href="/admin/system_info" id="clicklink">Back</a></div>
        </div>
        <p id="trshow"></p>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>

    <script>
        var input = document.getElementById("search-input");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("search-icon").click();
          }
        });
    </script>
    <script>
        function getIndex(){
            var table = document.getElementById('t-two');
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
            cell.addEventListener('click', function(e){
                var x = cell.closest('tr').rowIndex;
                var table = document.getElementById("t-two");
                for (var i = 0; i < table.rows.length; i++) {
                    var firstCol = table.rows[x].cells[0];
                    btn = firstCol.childNodes[0].innerHTML;
                    var input = document.getElementById("float-input");
                    input.value = btn;
                    var input = document.getElementById("floatbtn").click();
                    break;      
                }
            })
        });
    }
        
    </script>
</body>
</html>