<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App- Reset PIN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div>
        <div class="reset-div">
            <p class="reset-error" id="reset-error" style="left: 235px;">
                {% if msg2 %}
                {{msg2}}
                {%endif%}
            </p>
            <div id="stateDiv" style="position: absolute;top: 100px;left: -90px;">
                <div class="viewdiv"><p>CHANGE PIN</p></div>
                <form action="/account/pin_reset" class="stateform" method="POST">
                    <label style="top: 70px;">ENTER NEW PIN</label><br><br>
                    <label id="reset-label" style="top: 130px;">CONFIRM NEW PIN</label>
                    <input type="password" name="pin" oninput="hideErrorMsg()" required>
                    <input type="password" name="confirm" id="reset-pass-input" oninput="hideErrorMsg()" required>
                    <button type="submit">SUBMIT</button>
                </form>    
            </div>
        </div>
    </div>
</body>
</html>