<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Account Deposits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <a href="/home"><li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/home" id="firstlink" style="margin-left: -1px;">Home</a></li></a>
            <a href="#"><li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="#" style="color: #FF12AE;">Account info</a></li></a>
            <a href="/userDetails"><li><img src="{{ url_for('static', filename='images/user_details.png') }}" alt="user_details" style="height: 45px;width: 33px;margin-bottom: -18px;">&nbsp;<a href="/userDetails">User details</a></li></a>
            <a href="#"><li><img src="{{ url_for('static', filename='images/advert.png') }}" style="width: 27px;height: 26px;margin-left: 2px;border-radius: 0 0 3px 0;">&nbsp;<a href="#" style="margin-left: 2.5px;">Recent ads</a></li></a>
            <li onclick="logOut()" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <p class="p1 accSave">Savings account</p>
        <div class="homepage userpage" style="height: 370px;">
            <div class="accBtn">
                <a href="/home/account" id="transactionlink" style="pointer-events: none;"><button id="transactionbtn" style="background: #FFFFFF;">Transactions</button></a>
                <button id="statebtn" style="background: #C4C4C4;" onclick="showStatement()">Account Statement</button>
            </div>
            <div id="content">
                <div class="t-onediv">
                    <table id="t-one" style="top: 0px;left: 0px;">
                        <tr id="row-a">
                            <td style="background: #e5ece5;color: rgba(8, 8, 61);border-right: 1px solid rgb(66, 65, 65);">Transaction Date</td>
                            <td style="background: #e5ece5;color: rgb(8, 8, 61);border-right: 1px solid rgb(66, 65, 65);">Reference No</td>
                            <td style="background: #e5ece5;color: rgb(8, 8, 61);border-right: 1px solid rgb(66, 65, 65);">Amount</td>
                            <td style="background: #e5ece5;color: rgb(8, 8, 61);border-right: 1px solid rgb(66, 65, 65)">Remove from list</td>
                        </tr>
                    </table>
                </div>
                <div class="user-all" style="top: 167px;">
                    {% if no_dp %}
                    <p id="no_transaction">{{no_dp}}</p>
                     {%endif%}
                    <table id="t-two">
                        {% for deposit in deposits %}
                        <tr>
                            <td class="row-b" style="background: #fffff3;border-right: 1px solid rgb(192, 187, 187);">{{deposit.date}}</td>
                            <td class="row-b" style="background: #fffff3;border-right: 1px solid rgb(192, 187, 187);">{{deposit.ref_no}}</td>
                            <td class="row-b" style="background: #fffff3;border-right: 1px solid rgb(192, 187, 187);">{{deposit.amount}}</td>
                            <td class="row-b" style="background: #fffff3;border-right: 1px solid rgb(192, 187, 187);"><button style="color: red;width:80px;" onclick="deleteDeposit()">Delete</button></td>
                        </tr>
                        {% endfor %}
                    </table>   
                </div>
                <form action="/account/deleteDeposit" method="POST" style="display: none;">
                    <input type="text" id="delete-input" name="ref_no">
                    <button type="submit" id="deletebtn">submit</button>
                </form>
            </div>
            <div id="stateDiv" style="display: none;position: absolute;top: 150px;">
                <div class="viewdiv"><p>VIEW ACCOUNT STATEMENT</p></div>
                <form action="/account/statement" class="stateform" method="POST">
                    <label>ENTER ID NO</label><br><br>
                    <label id="reset-label">ENTER PIN</label>
                    <input type="number" name="id_no" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required>
                    <input type="password" name="pin_no" id="reset-pass-input" required>
                    <button type="submit">SUBMIT</button>
                </form>    
            </div>
            <form action="/account/deposits" method="POST" style="display: none;">
                <input type="text">
                <button id="depobtn" type="submit">Submit</button>
            </form>
            <div class="backto-div" id="backto-div" style="bottom: -65px;" onclick="clickBack()"><a href="/home/account" id="clicklink">Back</a></div>
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
    $('#downloadbtn').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('statement.pdf');
    });
</script>
</html>