<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App- Reset password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div>
        <div class="reset-div">
            <div id="stateDiv" style="position: absolute;top: 100px;left: -90px;">
                <div class="viewdiv"><p>CHANGE PASSWORD</p></div>
                <form action="/account/change_pass" class="stateform" method="POST">
                    <label style="top: 92px;">ENTER CURRENT PASSWORD</label><br><br>
                    <input type="password" name="password" style="top:92px;" oninput="hideErrorMsg()" required>
                    <button type="submit">SUBMIT</button>
                </form>   
            </div>
            <div>
                <a href="/userDetails" class="backarrow1"><img src="{{ url_for('static', filename='images/back-arrow.png') }}">&nbsp;&nbsp;<b style="text-decoration: underline;position: relative;font-weight: normal; top: -1px;font-size: 14.5px;">Return Back</b></a>
            </div>
            <p class="reset-error" id="reset-error" style="top: 150px;left: 235px;">
                {% if msg %}
                {{msg}}
                {%endif%}
            </p> 
        </div>
    </div>
</body>
</html>