<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat|Rosario">
</head>
<body class="indexpg">
    <div class="index-div">
        <div class="upper-div">
            <div class="app-info">
                <p id="org-name">BEANNSOFTS LTD MACHAKOS</p>
                <p class="title">SAVE YOUR MONEY</p>
                <p class="app-option">Click <u>About our platform</u> option below to know<br> about the saving platform and how it works</p>
                <a class="about" href="#">About our platform</a>
            </div>
            <div class="money-logo"><img src="{{ url_for('static', filename='images/moneysave.png') }}" alt="moneysave"></div>
        </div>
        <div class="logReg-box">
            <div id="logReg-box">
                <p id="start">START NOW!</p>
                <p id="direct">You can start registering and saving now by clicking register or login links below to direct you to the pages.</p>
                <div class="direct-reg"><a href="/register">CLICK HERE TO START REGISTRATION</a></div>
                <div class="direct-log"><a href="/login">CLICK HERE TO START LOGIN</a></div>
            </div>
        </div>
    </div>
</body>
</html>