<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/login_vec.png') }}" alt="login_vec" width="100%">
    <p id="title">Login into your account</p>
    <p id="subtitle">Enter your username and password to continue</p>
    <div class="loginbox">
        <form action="/login" method="POST">
            <img src="{{ url_for('static', filename='images/username.png') }}" alt="username" id="user">
            <input type="text" name="username" placeholder="Username">
            <img src="{{ url_for('static', filename='images/password.png') }}" alt="password" id="pass">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="login-btn">LOGIN</button>
            <div id="forgot"><p>If you forgot your password</p><a href="#">Reset</a></div>
            <div id="signup"><p>Don't have an account?</p><a href="#">Sign-up</a></div>
        </form>
    </div>
</body>
</html>