<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-System Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
        {% if msg %}
         <div style="background: brown;border: 1px solid #e6dfdf;border-radius: 3px; width: 400px;height: 40px;position: absolute;left: 430px;top: 108px;" id="success-msg">
            <p style="color: white;font-size: 13px;font-family: Montserrat;margin-left: 15px;margin-top: 3px;">
                {{msg}}
            </p>
        </div>
        {%endif%}
    <div class="home-links">
        <u id="pagelink">
            <a href="/admin"><li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/admin" id="firstlink" style="margin-left: -1px;">Home</a></li></a>
            <a href="/admin/account"><li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="/admin/account">Account info</a></li></a>
            <a href="#"><li id="icon-swap"><img src="{{ url_for('static', filename='images/system_info.png') }}" style="height: 38px;width: 33px;margin-bottom: -14px;margin-left: -3px;">&nbsp;<a href="#" id="swap-link"  style="color: #FF12AE;">System info</a></li></a>
            <a href="/admin/reports"><li><img src="{{ url_for('static', filename='images/reports.png') }}">&nbsp;<a href="/admin/reports">Reports</a></li></a>
            <li onclick="logOut()" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <div class="homepage userpage" style="height: 370px;">
            <p class="p1">System information</p>
            {%if user %}
            <p class="members-title">Members</p>
            <div class="deactivate-div">
                <p class="user-title">MEMBER ID: <span id="span-id"> {{user.id}}</span></p>
                <p class="user-title name-title">NAME: <span>{{user.firstname}} {{user.lastname}}</span></p>
                <div class="photodiv" style="top: 27px;right: 22px;">
                    <img src="{{ url_for('static', filename='uploads/'+user.profile_pic) }}" onerror="this.src='/static/uploads/default.png'" width="100%" height="100%">
                </div>
                <div class="deAccount-div" onclick="deactivateAccount()"><a>Deactivate Account</a></div>
                <div class="role-div" onclick="changeRole()"><a>Change Role</a></div>
            </div>
            <form action="/admin/deactivateUser" method="POST" style="display: none;">
                 <input type="text" id="input-id" name="id">
                 <button type="submit" id="deactivatebtn">submit</button>
            </form>
            <form action="/admin/updateRole" method="POST" style="display:none">
                <input type="text" id="input-role" name="id">
                <button type="submit" id="rolebtn">submit</button>
            </form>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_members">Back</a></div>
            {%endif%}

            {%if inactive_user %}
            <p class="members-title">Members</p>
            <div class="deactivate-div">
                <p class="user-title">MEMBER ID: <span id="span-id"> {{inactive_user.id}}</span></p>
                <p class="user-title name-title">NAME: <span>{{inactive_user.firstname}} {{inactive_user.lastname}}</span></p>
                <div class="photodiv" style="top: 27px;right: 22px;">
                    <img src="{{ url_for('static', filename='uploads/'+inactive_user.profile_pic) }}" onerror="this.src='/static/uploads/default.png'" width="100%" height="100%">
                </div>
                <div class="deAccount-div" onclick="deactivateAccount()"><a>Activate Account</a></div>
                <div class="role-div" onclick="changeRole()"><a>Change Role</a></div>
            </div>
            <form action="/admin/activateUser" method="POST" style="display:none">
                <input type="text" id="input-id" name="id">
                <button type="submit" id="deactivatebtn">submit</button>
            </form> 
            <form action="/admin/updateRole" method="POST" style="display:none">
                <input type="text" id="input-role" name="id">
                <button type="submit" id="rolebtn">submit</button>
            </form>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_members">Back</a></div>
            {%endif%}

            {%if agent %}
            <p class="members-title">Agents</p>
            <div class="deactivate-div">
                <p class="user-title">AGENT ID: <span id="span-id"> {{agent.id}}</span></p>
                <p class="user-title name-title">NAME: <span>{{agent.firstname}} {{agent.lastname}}</span></p>
                <div class="photodiv" style="top: 27px;right: 22px;">
                    <img src="{{ url_for('static', filename='uploads/'+agent.profile_pic) }}" onerror="this.src='/static/uploads/default.png'" width="100%" height="100%">
                </div>
                <div class="deAccount-div" onclick="deactivateAccount()"><a>Deactivate Account</a></div>
                <div class="role-div" onclick="changeRole()"><a>Change Role</a></div>
            </div>
            <form action="/admin/deactivateUser" method="POST" style="display:none">
                <input type="text" id="input-id" name="id">
                <button type="submit" id="deactivatebtn">submit</button>
            </form>
            <form action="/admin/updateRole" method="POST" style="display:none">
                <input type="text" id="input-role" name="id">
                <button type="submit" id="rolebtn">submit</button>
            </form>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_agents">Back</a></div>
            {%endif%}

            {%if inactive_agent %}
            <p class="members-title">Agents</p>
            <div class="deactivate-div">
                <p class="user-title">AGENT ID: <span id="span-id"> {{inactive_agent.id}}</span></p>
                <p class="user-title name-title">NAME: <span>{{inactive_agent.firstname}} {{inactive_agent.lastname}}</span></p>
                <div class="photodiv" style="top: 27px;right: 22px;">
                    <img src="{{ url_for('static', filename='uploads/'+inactive_agent.profile_pic) }}" onerror="this.src='/static/uploads/default.png'" width="100%" height="100%">
                </div>
                <div class="deAccount-div" onclick="deactivateAccount()"><a>Activate Account</a></div>
                <div class="role-div" onclick="changeRole()"><a>Change Role</a></div>
            </div>
            <form action="/admin/activateUser" method="POST" style="display:none">
                <input type="text" id="input-id" name="id">
                <button type="submit" id="deactivatebtn">submit</button>
            </form>
            <form action="/admin/updateRole" method="POST" style="display:none">
                <input type="text" id="input-role" name="id">
                <button type="submit" id="rolebtn">submit</button>
            </form>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_agents">Back</a></div>
            {%endif%}

            {%if agent_float %}
            <p class="members-title">Agents</p>
            <div class="deactivate-div">
                <p class="user-title">AGENT ID: <span id="span-id"> {{agent_float.id}}</span></p>
                <p class="user-title name-title">FLOAT_BAL: <span> {{agent_float.float_balance}}</span></p>
                <div class="photodiv" style="top: 27px;right: 22px;">
                    <img src="{{ url_for('static', filename='uploads/'+agent_float.profile_pic) }}" onerror="this.src='/static/uploads/default.png'" width="100%" height="100%">
                </div>
                <div class="role-div" style="right: 30px; width: 297px;" onclick="deactivateAccount()"><a>UPDATE FLOAT BALANCE</a></div>
            </div>
            <form action="/admin/floatUpdate" method="POST" style="display:none">
                <input type="text" id="input-id" name="id_no">
                <button type="submit" id="deactivatebtn">submit</button>
            </form>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_agents">Back</a></div>
            {%endif%}
            
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>

    <!-- script to set timeout period for pop up msg -->
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $('#success-msg').hide();
            },5000);
        });
    </script>
</body>
</html>