<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
   <div class="registerpage">
    <div class="createAcc">
        <p>Create your account</p>
        <div id="acc-sign"><a href="/login" title="Login">Sign in</a></div>
    </div>
    <div class="fill-detDiv"><p id="fill-det">Fill in the registration details below to start saving with us</p></div>
    <div class="regform">
            <form name="myForm" action="/register" method="POST" onsubmit="return validateForm()">
                <div id="login-det">
                    <p class="log-det">CREATE LOGIN DETAILS</p>
                    <label id="user-lab">Username</label><input type="text" name="username" id="usernm" onblur="checkValue()" oninput="waitValue()">
                    <label id="pass-lab">Password</label><input type="password" name="password" id="paswd" oninput="waitConfirm()">
                    <label id="confirm-lab">Confirm Password</label><input type="password" name="confirm" id="conf-paswd" oninput="waitConfirm()">
                    <p id="check1"></p>
                    <p id="input-error"></p>
                </div>
                <div id="account-det">
                    <p class="acc-det">CREATE ACCOUNT DETAILS</p>
                    <label id="fname">First name</label><br>
                    <input type="text" name="firstname" id="fName" onblur="lowCaseFn()" required>
                    <label id="lname">Last name</label><br>
                    <input type="text" name="lastname" id="lName" onblur="lowCaseLn()" required>
                    <label id="id-no">ID number</label><br>
                    <input type="number" name="id_no" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" id="id-No" autocomplete="off" onblur="checkId()" oninput="waitId()" required>
                    <label id="phone-no">Phone number</label><br>
                    <input type="number" name="phone" id="phone-No" onkeydown="if(this.value.length==12 && event.keyCode!=8) return false;" required>
                    <label id="pin-no">PIN</label><br> 
                    <input type="password" name="pin" id="pin-No" oninput="waitPin()" required >
                    <label id="conf-pin">Confirm PIN</label>
                    <input type="password" name="confirm_pin" id="conf-Pin" oninput="waitPin()" required>
                    <button type="submit" id="btn-create">CREATE</button> 
                    <p id="check2"></p>
                    <p id="pin-error"></p>
                </div>
            </form>
    </div> 
    <div class="acc-readyDiv">
        <p id="acc-ready">Already have an account?</p>
        <p id="sign-check">click sign-in option at the top to login</p>
        <div id="follow-us"><p><b style="color: #A4A716;">Beannsofts Limited</b>.<br>About us, <a href="#" title="Follow us">Follow this link</a></p></div>
    </div>
    <div class="backNext-div">
        <button onclick="logForm()" class="btn next" id="next-btn">Next&nbsp;&#10095;</button>
        <button class="btn back" onclick="accForm()" id="back-btn">&#10094;&nbsp;Back</button>
    </div>
   </div>
    <ul id="nav1" style="display: none;">
        {% for user in users_list %}
        <li>{{user.id}}</li>
        {% endfor %}
    </ul>
    <ul id="nav2" style="display: none;">
        {% for user in users_list %}
        <li>{{user.username}}</li>
        {% endfor %}
    </ul>
</body>
</html>