<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat|Rosario">
</head>
<body>
    <div class="success-div">
        <p id="error-msg">ERROR!</p>
    </div>
    <div class="success-div1">
        <p>
            {% if username_error %}
            {{username_error}}
            {%endif%}
        </p>
    </div>
    <div class="success-div2">
        <p>
            {% if username_error2 %}
            {{username_error2}}
            {%endif%}
        </p>
    </div>
    <div class="success-div3">
        <a href="/register">Try Now</a>
    </div>
    <div class="success-div4">
        <p>copyright © 2021. All rights reserved. Transcation token powered by Indcon Internet Security.</p>
    </div>
</body>
</html>