<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Registration form</h1>
        <form action="/register" method="POST">
            <label>ID_NO:</label><br>
            <input type="number" name="id_no"required><br><br>
            <label>FirstName:</label><br>
            <input type="text" name="firstname"required><br><br>
            <label>LastName:</label><br>
            <input type="text" name="lastname"required><br><br>
            <label>Age:</label><br>
            <input type="number" name="age"required><br><br>
            <label>UserName:</label><br>
            <input type="text" name="username"required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password"required><br><br>
            <label>Confirm Password:</label><br>
            <input type="password" name="confirm"required><br><br>
            <input type="submit" value="REGISTER">
        </form>
    </div>
</body>
</html>