<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-System Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/admin" id="firstlink" style="margin-left: -1px;">Home</a></li>
            <li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="/admin/account">Account info</a></li>
            <li id="icon-swap"><img src="{{ url_for('static', filename='images/system_info.png') }}" style="height: 38px;width: 33px;margin-bottom: -14px;margin-left: -3px;">&nbsp;<a href="#" id="swap-link"  style="color: #FF12AE;">System info</a></li>
            <li><img src="{{ url_for('static', filename='images/reports.png') }}">&nbsp;<a href="#">Reports</a></li>
            <li><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <div class="homepage userpage" style="height: 370px;">
            <p class="p1">System information</p>
            <p class="members-title">Members</p>
            <label class="search-label">Search</label><div class="search-user"><input type="search" id="search-input" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" id="id-No" autocomplete="off"><img src="{{ url_for('static', filename='images/search.png') }}" onclick="searchUser()"></div>
            <table id="t-one">
                <tr id="row-1">
                    <td>USER ID</td>
                    <td>USERNAME</td>
                    <td>F_NAME</td>
                    <td>L_NAME</td>
                    <td>ACC_BAL</td>
                    <td>PHONE NO</td>
                </tr>
            </table>
            <div class="user-all">
                <table id="t-two">
                {% for user in users %}
                    <tr id="user-row">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.account_balance}}</td>  
                        <td>{{user.phone}}</td>
                    </tr>
                 {% endfor %}
                </table>
            </div>
            <div class="backto-div" style="bottom: -65px;"><a href="/admin/system_info">Back</a></div>
        </div>
        <p id="trshow"></p>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <script>
        function searchUser(){
            var input, table, tr, td, i;
            input = document.getElementById("search-input");
            filter = input.value.toUpperCase();
            table = document.getElementById("t-two");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td") ; 
                for(j=0 ; j<td.length ; j++)
                {
                let tdata = td[j] ;
                if (tdata) {
                    if (tdata.innerHTML.toUpperCase() == filter) {
                        tr[i].style.display = "";
                        document.getElementById('trshow').innerHTML = "no user with such ID";
                        break;
                    }else {
                        tr[i].style.display = "none";
                    }
                } 
                }
            }
            }

    </script>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>
</body>
</html>