<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>balance</h1>
    <div>
        {% if user %}
        <span>Your balance is {{user.account_balance}}, </span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if agent %}
        <span>Your float balance is {{agent.float_balance}}, and account balance is {{agent.account_balance}}</span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if errored_pin_msg %}
        <span>{{errored_pin_msg}}</span>
        {%endif%}
    </div>
    <div>
        {% if not_found %}
        <span>{{not_found}}</span>
        {%endif%}
    </div>
    <div>
        {% if check_msg %}
        <span>{{check_msg}}</span>
        {%endif%}
    </div>
    <h1>deposit</h1>
    <div>
        {% if updated_amount %}
        <span>{{updated_amount}} </span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if no_user_found %}
        <span>{{no_user_found}}</span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if no_float %}
        <span>{{no_float}}</span>
        {%endif%}
    </div>
    <div>
        {% if agent_pinerror %}
        <span>{{agent_pinerror}}</span>
        {%endif%}
    </div>
    <div>
        {% if no_agent_found %}
        <span>{{no_agent_found}}</span>
        {%endif%}
    </div>
    <h1>withdraw</h1>
    <div>
        {% if the_updated_amount %}
        <span>{{the_updated_amount}} </span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if user_id_error %}
        <span>{{user_id_error}}</span> Thank You.
        {%endif%}
    </div>
    <div>
        {% if withdraw_error_msg %}
        <span>{{withdraw_error_msg}}</span>
        {%endif%}
    </div>
    <div>
        {% if pin_err %}
        <span>{{pin_err}}</span>
        {%endif%}
    </div>
    <div>
        {% if agentID_err %}
        <span>{{agentID_err}}</span>
        {%endif%}
    </div>
</body>
</html>