<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    {% if user %}
        <span>Hi {{user.firstname}} </span> Welcome!
    {%endif%}
    {% if login_message %}
        {{login_message}}
    {%endif%}
    {% if success_message %}
        {{success_message}}
    {%endif%}
    </div>
</body>
</html>