<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving App-Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div class="homeDiv" id="homeDiv">
        <div class="home-img"><img src="{{ url_for('static', filename='images/header.png') }}" alt="header"></div>
    <div class="home-links">
        <u id="pagelink">
            <a href="/home"><li style="margin-bottom: 25px;margin-left: -1.5px;"><img src="{{ url_for('static', filename='images/home.png') }}" style="width: 37px;height: 30px;">&nbsp;<a href="/home" id="firstlink" style="margin-left: -1px;">Home</a></li></a>
            <a href="#"><li style="margin-bottom: 24px;"><img src="{{ url_for('static', filename='images/account_details.png') }}" style="margin-left: -1px;">&nbsp;<a href="#" style="color: #FF12AE;">Account info</a></li></a>
            <a href="/userDetails"><li><img src="{{ url_for('static', filename='images/user_details.png') }}" alt="user_details" style="height: 45px;width: 33px;margin-bottom: -18px;">&nbsp;<a href="/userDetails">User details</a></li></a>
            <a href="#"><li><img src="{{ url_for('static', filename='images/advert.png') }}" style="width: 27px;height: 26px;margin-left: 2px;border-radius: 0 0 3px 0;">&nbsp;<a href="#" style="margin-left: 2.5px;">Recent ads</a></li></a>
            <li onclick="logOut()" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/logout.png') }}">&nbsp;<a href="#" onclick="logOut()">Logout</a></li>
        </u>
        <p class="p1 accSave">Savings account</p>
        <div class="homepage" id="homepage">
            <div class="accBtn">
                <button id="transactionbtn" onclick="showBtns()">Transactions</button>
                <button id="statebtn" onclick="showStatediv()">Account Statement</button>
            </div>
            <div id="theBtns">
                <div class="btns checkbal">
                    <button onclick="hideShow1()">B</button>
                    <p>CHECK BALANCE</p>
                </div>
                <div class="btns deposit">
                    <button onclick="hideShow3()">W</button>
                    <P style="margin-left: 8px;">WITHDRAW CASH</P>
                </div>
                <div class="btns withdraw">
                    <button onclick="showDepo()">D</button>
                    <p style="margin-left: 14px;">CASH DEPOSITS</p>
                </div>
            </div>
            <div id="stateDiv" style="visibility: hidden;position: absolute;top: 150px;">
                <div class="viewdiv"><p>VIEW ACCOUNT STATEMENT</p></div>
                <form action="/account/statement" class="stateform" method="POST">
                    <label>ENTER ID NO</label><br><br>
                    <label id="reset-label">ENTER PIN</label>
                    <input type="number" name="id_no" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required>
                    <input type="password" name="pin_no" id="reset-pass-input" required>
                    <button type="submit">SUBMIT</button>
                </form>    
            </div>
            <form action="/account/deposits" method="POST" style="display: none;">
                <input type="text">
                <button id="depobtn" type="submit">Submit</button>
            </form>
        </div>
        <div class="formpage" id="formpage" style="display: none;">
            <div class="checkbal-form" id="checkbal-form">
                <p>CHECK BALANCE</p>
                <form action="/account/check_balance" id="form1" method="POST">
                    <label>Enter ID Number:</label><br>
                    <input type="number" name="id_no" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required><br><br>
                    <label>Enter PIN:</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <button type="submit" class="okbtn">OK</button>
                </form>
                <button class="cancelbtn" onclick="showHome1()">Cancel</button>
            </div>
            <div class="checkbal-form the-form" id="depositcash-form">
                <p id="deposit-topic">DEPOSIT CASH</p>
                <form action="/account/deposit" id="form2" method="POST">
                    <label>Enter Agent ID:</label><br>
                    <input type="number" name="agent_id" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required><br><br>
                    <label>Enter ID Number(user):</label><br>
                    <input type="number" name="user_id" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required><br><br>
                    <label>Enter PIN(agent):</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <label>Enter Amount:</label><br>
                    <input type="number" name="amount" min="50" placeholder="minimum amount required is ksh.50" required><br><br>
                    <button type="submit" class="okbtn the-ok">OK</button>
                </form>
                <button class="cancelbtn the-cancel" onclick="showHome2()">Cancel</button>
            </div>
            <div class="checkbal-form the-form" id="withdrawcash-form">
                <p id="withdraw-topic" style="color: #45789D;">WITHDRAW CASH</p>
                <form action="/account/withdraw" id="form3" method="POST">
                    <label>Enter Agent ID:</label><br>
                    <input type="number" name="agent_id" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required><br><br>
                    <label>Enter ID Number:</label><br>
                    <input type="number" name="user_id" onkeydown="if(this.value.length==9 && event.keyCode!=8) return false;" autocomplete="off" required><br><br>
                    <label>Enter PIN:</label><br>
                    <input type="password" name="pin_no" required><br><br>
                    <label>Enter Amount:</label><br>
                    <input type="number" name="amount" min="50" placeholder="minimum amount required is ksh.50" required><br><br>
                    <button type="submit" class="okbtn the-ok">OK</button>
                </form>
                <button class="cancelbtn the-cancel" onclick="showHome3()">Cancel</button>
            </div>
        </div>
    </div>
        <div class="footer">
            <hr>
            <p>Copyright © 2021. <span>Beannsofts Limited. All rights reserved.</span><span> <a href="#">Follow this link to know about us</a></span></p>
        </div>
    </div>
    <div id="logout-box" style="display: none;">
        <span onclick="closeLog()">X</span>
        <p>Do you want to log out of the System?</p>
        <button onclick="clickOk()"><a href="/logout" id="click-okbtn">OK</a></button>
    </div>
</body>
</html>